@model IEnumerable<ClassManagment.Models.Holiday>

@{
    ViewBag.Title = "ShowHoliday";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>ShowHoliday</h2>

<p>
    @Html.ActionLink("Create New", "CreateHoliday")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Holiday1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>Edit</th>
        <th>Detaiils</th>
        <th>Delete</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Holiday1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditHoliday", new { id=item.Holidayid }) </td><td>
    @Html.ActionLink("Details", "DetailsHoliday", new { id = item.Holidayid })
</td>
<td>
    @Html.ActionLink("Delete", "DeleteHoliday", new { id = item.Holidayid })
</td>
    </tr>
}

</table>
